server:
  port: 8080

spring:
  application:
    name: reader
  datasource:
    url: jdbc:mariadb://${DATABASE_CONTAINER_NAME:localhost}:3306/${DATABASE_NAME:reader}?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: ${DATABASE_USER:root}
    password: ${DATABASE_PASS:root}
    driver-class-name: org.mariadb.jdbc.Driver
  h2:
    console:
      enabled: true
      path: /console
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        enable_lazy_load_no_trans: true # Corrigindo problema de lazy inicialization exception
        format_sql: false
        use_sql_comments: true
        time_zone: UTC # Padroniza o UTC 0 para todas as datas
        jdbc:
          time_zone=UTC # Padroniza o UTC 0 para todas as datas
  jackson:
    time-zone: UTC # Padroniza o UTC 0 para todas as datas

  flyway:
    ignore-migration-patterns: "*:Ignored"
    baseline-on-migrate: true
    validate-on-migrate: true
    enabled: true
    clean-disabled: true
    clean-on-validation-error: false
    validate-migration-naming: true
  
  output:
    ansi:
      enabled: always

# Feign Client configuration
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 30000
        loggerLevel: basic
  httpclient:
    enabled: true

#Actuator
management:
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "health,info"

info:
  app:
    name: @project.name@
    version: @project.version@
    encoding: @project.build.sourceEncoding@
    java:
      vendor: @java.vendor@
      version: @java.version@

minio:
  bucket:
    name: ${MINIO_DEFAULT_BUCKETS:manhwa}
  access:
    key: ${MINIO_ACCESS_KEY:admin}
    secret: ${MINIO_SECRET_KEY:admin123}
  url: ${MINIO_URL:http://localhost:9000}

logging:
  level:
    dev.williancorrea.manhwa: INFO
    feign.client.config.default.loggerLevel:
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate: INFO